<template>
<div>
    <h1>Acerca de nosotros</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pulvinar mauris sed interdum molestie. Nulla efficitur enim lacus, eget facilisis nisl congue vel. Praesent porttitor arcu vitae libero finibus malesuada. Nunc porttitor posuere vestibulum. Phasellus id felis ex. Etiam volutpat lacinia lorem. Donec consectetur tellus vel diam dictum bibendum. Aenean in massa tristique, dictum libero id, molestie odio. </p>
</div>
</template>