<template>
<div>
    <h1>Página principal</h1>
    <p>Donec cursus convallis mauris nec tristique. Morbi nec mi a orci posuere condimentum. Aenean rhoncus pulvinar nulla eget lobortis. In molestie varius ligula, eu convallis massa pretium ac. Proin quis arcu a risus lobortis semper ut vitae velit. Nunc iaculis lacus eget nunc porttitor dapibus. Vestibulum eget euismod nunc, eget blandit sem. Mauris tristique urna at scelerisque faucibus. Mauris nec accumsan sapien, non vehicula augue. In vel neque vitae libero malesuada convallis. Nunc vel malesuada ex. Nulla eu enim rutrum, mollis metus non, pharetra augue. Nunc laoreet lobortis justo, id fermentum lorem hendrerit sodales. </p>
    <p>Nullam nec ligula non purus imperdiet facilisis non eget libero. Sed eget odio quis dolor convallis accumsan sed quis turpis. Aenean rutrum nec lorem ut mattis. Maecenas elementum, lectus sit amet posuere vestibulum, felis justo elementum diam, ac convallis ex lacus eu tortor. Fusce elementum rutrum vestibulum. Mauris vel dui dui. Etiam turpis quam, vulputate id rhoncus in, mollis ut quam. In iaculis posuere lacus eu rhoncus. Vestibulum bibendum odio ornare urna pellentesque, quis auctor odio consectetur. Nullam fermentum felis ut ullamcorper cursus. Nullam faucibus auctor risus non blandit. Vivamus interdum ante et nunc tempus gravida. Nam accumsan tempus purus, porta mattis urna consequat eu. </p>
</div>
</template>