<template>
    <div>
        <h1>Tabla de Clientes</h1>
        <table class="table table-stripped table-hover">
            <thead class="thead-dark bg-primary">
                <th>Id</th>
                <th>Nombre</th>
                <th>Soporte</th>
                <th>Gestor</th>
                <th>Cuenta</th>
               
            </thead>
            <tbody>
                <tr v-for="cliente in clientes" :key="cliente.id">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.soporte }}</td>
                    <td>{{ cliente.gestor }}</td>
                    <td>{{ cliente.cuenta }}</td>
                    <td>
                        <b-icon-pencil @click="goto('/clientes/edit/'+cliente.id)" />
                        <b-icon-trash @click="eliminar(cliente)" />
                         <b-icon-people @click="goto('/empleados/id/'+cliente.gestor)" />
                    </td>

                </tr>
            </tbody>
        </table>
        <button @click="goto('/clientes/new')">Añadir Cliente</button>
    </div>
</template>

<script>

import Vue from 'vue'
import { BootstrapVueIcons } from 'bootstrap-vue'
Vue.use(BootstrapVueIcons)

export default {
    
    props: ['dato', 'valor'],
    mounted() {
        this.$store.dispatch('loadData');
    },
    computed: {
        clientes() {
            switch(this.dato) {
                case 'gestor':
                    return this.$store.state.clientes
                            .filter(cliente=>cliente.gestor==this.valor);
                default:
                    return this.$store.state.clientes;
            }
        }
    },
    methods: {
        goto(ruta) {
            this.$router.push(ruta);
        },
        eliminar(cliente) {
            alert('Eliminando '+cliente.id);
        }
    }
}
</script>