<template>
  <div>
    <ValidationObserver v-slot="{ handleSubmit }">
    <h1>{{ editando?'Editar':'Añadir' }} Cliente</h1>
    <form @submit.prevent="handleSubmit(changeCliente)">
      <div class="form-group" v-if="editando">
        <label for="new-cod">Id:</label>
        <input v-model="cliente.id" type="text" class="form-control" disabled />
      </div>
    <ValidationProvider name='nombre' rules="required|minmax:5,25" v-slot="{ errors }">
      <div class="form-group">
        <label for="new-cod">Nombre:</label>
        <input v-model="cliente.nombre" type="text" class="form-control" />
         <span class="err-val">{{ errors[0] }}</span>
      </div>
    </ValidationProvider>

    <ValidationProvider name='soporte' rules="required" v-slot="{ errors }">
        <div class="form-group">
        <label for="new-cod">Soporte.:</label>
        <input name="grado" v-model="cliente.soporte" value="N" type="radio" class="form-radio" />Normal
        <input name="grado" v-model="cliente.soporte" value="P" type="radio" class="form-radio" />Premium
        <span class="err-val">{{ errors[0] }}</span>
        </div>
    </ValidationProvider>

    <ValidationProvider name='gestor' rules="required" v-slot="{ errors }">    
      <div class="form-group">
        <label for="new-cod">Gestor.:</label>
        <select v-model="cliente.gestor">
            <option value="0">-- Escoge Gestor --</option>
            <option v-for="empleado in empleados" :key="empleado.id" 
                :value="empleado.id">
                {{ empleado.apellido1+' '+empleado.apellido2+', '+empleado.nombre }}
            </option>

        </select>
         <span class="err-val">{{ errors[0] }}</span>
      </div>
    </ValidationProvider>

    <ValidationProvider name='cuenta' rules="required" v-slot="{ errors }">  
      <div class="form-group">
        <label for="new-cod">Cuenta.:</label>
        <input v-model="cliente.cuenta" type="text" class="form-control" />
        <span class="err-val">{{ errors[0] }}</span>
      </div>
    </ValidationProvider>

    <button type="submit">{{ editando?'Modificar':'Añadir' }}</button>
    <button @click.prevent="reset">Reset</button>

    </form>
    </ValidationObserver>
  </div>
</template>

<script>
import { ValidationProvider,extend } from 'vee-validate';
import { ValidationObserver } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

extend('required', {
  ...required,
  message: 'El campo {_field_} es obligatorio, rellenalo'
});

extend('minmax', {
  validate(value, { min, max }) {
    return value.length >= min && value.length <= max;
  },
  params: ['min', 'max'],
  message: 'El {_field_} necesita al menos {min} caracteres y {max} caracteres por lo menos'

});


export default {
    
    props: ['id'],

    components:{
    ValidationProvider,
    ValidationObserver
  },

    computed: {
        editando() {
            return !!this.id;
        },
        cliente() {
            if (this.editando) {
                return this.$store.state.clientes.find(cliente => cliente.id === this.id);
            } else {
                return {
                    gestor: 0
                };
            }
        },
        empleados() {
            return this.$store.state.empleados;
        }
    },
    methods: {
        reset() {
        },
        changeCliente() {
            if (this.editando) {
                this.$store.dispatch('modifyCliente', this.cliente)
                .then(()=>this.$router.push('/clientes'))
            } else {
                this.$store.dispatch('addCliente', this.cliente)
                .then(()=>this.$router.push('/clientes'))
            }
        }
    }    
};
</script>