<template>
    <div>
        <h1>Tabla de Empleados</h1>
        <table class="table table-stripped table-hover">
            <thead class="thead-dark bg-primary">
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido 1</th>
                <th>Apellido 2</th>
            </thead>
            <tbody>
                <tr v-for="empleado in empleados" :key="empleado.id">
                    <td>{{ empleado.id }}</td>
                    <td>{{ empleado.nombre }}</td>
                    <td>{{ empleado.apellido1 }}</td>
                    <td>{{ empleado.apellido2 }}</td>
                    <td>
                        
                        <b-icon-pencil @click="goto('/empleados/edit/'+empleado.id)" />
                        <b-icon-trash @click="eliminar(empleado)" />
                       <b-icon-people @click="goto('/clientes/gestor/'+empleado.id)" />
                    </td>

                </tr>
            </tbody>
        </table>
        <button @click="goto('/empleados/new')">Añadir Empleado</button>
    </div>
</template>

<script>
import Vue from 'vue'
import { BootstrapVueIcons } from 'bootstrap-vue'
Vue.use(BootstrapVueIcons)
export default {
    props: ['dato', 'valor'],
    
    mounted() {
        this.$store.dispatch('loadData');
    },
    computed: {
        empleados() {
            switch(this.dato) {
                case 'id':
                    return this.$store.state.empleados
                            .filter(empleado=>empleado.id==this.valor);
                default:
                    return this.$store.state.empleados;
            }
        }
    },
    methods: {
        goto(ruta) {
            this.$router.push(ruta);
        },
        eliminar(empleado) {
            if (confirm('Deseas borrar el empleado '+empleado.id+' de nombre '+empleado.nombre+'?')) {
                if(this.$store.getters.getClientesby(empleado.id)){
                    alert('Este empleado aun tiene clientes');
                }
                this.$store.dispatch('borrarEmpleado', empleado.id);
            }
        }
    }
}
</script>