<template>
    <div>
        <h1>Página no encontrada</h1>
        <button @click="volver">Volver</button>
    </div>
</template>

<script>
export default {
    methods: {
        volver() {
            this.$router.go(-1);
        }
    }
}
</script>