<template>
  <div id="app">
        <header>
            <h1>Ges-Cli</h1>
        </header>

        <!-- Menú -->
        <div>
          <b-nav>
            <b-nav-item><router-link to="/">Bienvenida</router-link></b-nav-item>
            <b-nav-item><router-link to="/empleados">Empleados</router-link></b-nav-item>
            <b-nav-item><router-link to="/clientes">Clientes</router-link></b-nav-item>
            <b-nav-item><router-link to="/about">Acerca de...</router-link></b-nav-item>
          </b-nav>
        </div>

        <div class="row">
            <router-view></router-view>
        </div>
      <footer><small>Examen de Adrian Meneses Ruiz</small></footer>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
